<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Мои Картины</title>
</head>
<body>
    <h1>Мои Картины</h1>
    <ul>
        <ul>
            {% for image_url in collection %}
                <li><img src="{{ url_for('static', filename=image_url) }}" alt="{{ image_url }}"></li>
            {% endfor %}
        </ul>
    </ul>
</body>
</html>
